.user-create {
    text-align: center;
    margin-top: 16px;


&__form {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 500px;
    gap: 8px;
}
}