.user-card {
    max-width: 200px;

    &__image {
        width: 200px;
        height: 100px;
    }
}

.card-header {
    &__image {
        color: aqua;
    }

    &__title {
        cursor: pointer;
    }
}
